{% if paginator.total_pages > 1 %}
    <div>
        {% if paginator.previous_page %}
            <span>
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | remove: "index.html" }}">&lt;&lt;</a>
            </span>
        {% endif %}
        {% if paginator.page_trail %}
            {% for trail in paginator.page_trail %}
                <span {% if page.url == trail.path %} class="selected" {% endif %}>
                    <a href="{{ trail.path | prepend: site.baseurl | replace: '//', '/' | remove: "index.html" }}" title="{{trail.title}}">{{ trail.num }}</a>
                </span>
            {% endfor %}
        {% endif %}
        {% if paginator.next_page %}
            <span>
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | remove: "index.html" }}">&gt;&gt;</a>
            </span>
        {% endif %}
    </div>
{% endif %}