# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

# Minima Theme Defaults
title: Blog - Baiju Dodhia
# email: your-email@example.com (Not using email anywhere)
description: >- # this means to ignore newlines until "baseurl:"

baseurl: "/blog" # the subpath of your site, e.g. /blog
url: "https://baijudodhia.github.io" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: baijudodhia
github_username:  baijudodhia

# Google Analytics Tracking Code
ga_code: G-97DE9W3FTW

# Minia Custom Theme Defaults
# Default Author name is present in Minia but is overridden here
author: Baiju Dodhia

# Build settings
# Remove minima theme & using a custom regular gem based theme.
# theme: minima
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-paginate-v2

# Jekyll Archives Configuration
jekyll-archives:
  enabled: 'all'
  layouts:
    year: archives/year-archive
    month: archives/month-archive
    day: archives/day-archive
    category: archives/category-archive
    tag: archives/tag-archive
  permalinks:
    year: '/:year/'
    month: '/:year/:month/'
    day: '/:year/:month/:day/'
    tag: '/tag/:name/'
    category: '/category/:name/'

# Pagination Settings
pagination:
  enabled: true
  per_page: 3
  offset: 0
  title: ':title'
  limit: 0
  sort_field: 'date'
  sort_reverse: true

# Conversion
markdown:    kramdown
highlighter: rouge

# Markdown Processors
kramdown:
  input: GFM
  auto_ids: true
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
