<footer class="footer">
    <div class="footer-links">
        <a class="footer-link" rel="noopener" href="https://baijudodhia.github.io?utm_source=blog&utm_medium=footer" target="_blank">
            <i aria-hidden="true" class="fa fa-globe"></i>
            <span>baijudodhia.github.io</span>
        </a>
        <a class="footer-link" rel="noopener" href="https://www.github.com/baijudodhia/" target="_blank">
            <i aria-hidden="true" class="fa fa-github"></i>
            <span>baijudodhia</span>
        </a>
        <a class="footer-link" rel="noopener" href="https://www.linkedin.com/in/baijudodhia/" target="_blank">
            <i aria-hidden="true" class="fa fa-linkedin"></i>
            <span>baijudodhia</span>
        </a>
    </div>
</footer>