<div class="fixed-top w-100 m-0">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSportedContent"
        aria-controls="navbarSportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="d-flex flex-row mx-auto pl-1" style="padding-right: 3.6rem">
        <div class="pr-2">
          <img
            src={{ "/assets/logo/logo.png" | relative_url }}
            alt="The Tech Blog Logo"
            width="24"
            height="24"
          />
        </div>
        <div class="my-auto">
          <a href="{{ "/" | relative_url }}"
            ><span style="color: black; font-size: 20px"
              ><b>Blog</b></span
            ></a
          >
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSportedContent">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ "/" | relative_url }}"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ "/category" | relative_url }}">Category</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ "/tag" | relative_url }}">Tag</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="spacing"></div>
