<div class="header-container">
  <div class="header">
    <button onclick="toggleSidebar()" class="header-toggler" aria-label="Menu">
      <span class="header-toggler-bar"></span>
      <span class="header-toggler-bar"></span>
      <span class="header-toggler-bar"></span>
    </button>
    <div class="header-logo">
        <img src={{ "/assets/logo/logo.png" | relative_url }} alt="The Tech Blog Logo" width="24" height="24"/>
        <a href="{{ "/" | relative_url }}">
            Blog
        </a>
    </div>
    <div class="header-nav">
        {% assign current = page.url | downcase | split: '/' %}
        <div class="header-nav-link">
            <a href="{{ "/" | relative_url }}" class="header-nav-link-item {% if current[1] == 'index.html' %}current{% endif %}">Home</a>
        </div>
        <div class="header-nav-link">
            <a href="{{ "/category" | relative_url }}" class="header-nav-link-item {% if current[1] == 'category' %}current{% endif %}">Category</a>
        </div>
        <div class="header-nav-link">
            <a href="{{ "/tag" | relative_url }}" class="header-nav-link-item {% if current[1] == 'tag' %}current{% endif %}">Tag</a>
        </div>
    </div>
    <div class="header-misc">
        <div class="header-search-container">
            <a class="header-search-btn" href="{{ '/search' | remove: ".html" | relative_url }}" aria-label="Search" title="Search">
                <i aria-hidden="true" class='fa fa-search'></i>
            </a>
        </div>
        <!-- <div class="header-theme-changer">
            <input id="header-theme-changer-btn" name="theme" onclick="changeTheme();" theme-value="light" type="submit" value="🌑"/>
        </div> -->
    </div>
  </div>
</div>
