.archive-post-brief-container {
  display: grid;
  grid-template-areas: "card card";
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  row-gap: 15px;
  column-gap: 15px;
}
.archive-post-brief-container.single {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: stretch;
}
.archive-post-brief-container > .post-brief:first-child {
  align-self: stretch;
  width: 100%;
}
.archive-post-brief-container > .post-brief {
  align-self: stretch;
}
@media only screen and (max-width: 700px) {
  .archive-post-brief-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: stretch;
  }
}
