.category-brief {
  display: flex;
  flex-direction: column;
  width: fit-content;
  row-gap: 2rem;
  justify-content: center;
  padding: 1rem;
  align-items: center;
  align-content: center;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 20px -9px #000000;
}
.category-brief-title {
  font-size: 1.2rem;
  color: #f5f5f5;
}
.category-brief-link > a {
  box-shadow: 0px 0px 20px -9px #121212;
}
