.next-prev-post {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.next-prev-post-btn {
  color: var(--color-light_f5f5f5-dark_121212);
  background-color: var(--color-light_f5f5f5-dark_121212-reverse);
}
.next-prev-post-btn:hover {
  color: var(--color-light_f5f5f5-dark_121212);
  background-color: var(--color-light_f5f5f5-dark_121212-reverse);
}
