.paginator {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.paginator a {
  box-shadow: none;
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  background-color: var(--color-light_f5f5f5-dark_121212);
}
.paginator-middle.selected > a {
  color: var(--color-light_f5f5f5-dark_121212);
  background-color: var(--color-light_f5f5f5-dark_121212-reverse);
}
