.post-brief {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: flex-start;
  justify-content: center;
  align-content: space-around;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 15px -10px #121212;
}
.post-brief-content {
  display: flex;
  flex-direction: column;
  column-gap: 0.5rem;
  .post-brief-title {
    color:#121212;
    font-size: 1.4rem;
  }
  .post-brief-excerpt {
    color:#121212;
    font-size: 1rem;
  }
}