.post-brief {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: flex-start;
  justify-content: space-between;
  align-content: space-around;
  padding: 20px;
  border-radius: 0.5rem;
  background-color: #343a40;
  box-shadow: 0px 0px 3px -1px #121212;
  transition: 0.1s linear;
  &:hover {
    box-shadow: 0px 0px 10px -3px black;
    transform: scale(1.005);
    transition: 0.15s linear;
  }
}
.post-brief-header {
  align-self: stretch;
}
.post-brief-body {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: space-around;
  align-self: stretch;
  flex-grow: 1;
  .post-brief-title {
    color: #f5f5f5;
    font-size: 28px;
    line-height: 1.25em;
  }
  .post-brief-metadata {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    .post-brief-date {
      color: #f5f5f5;
      font-size: 12.8px;
      font-weight: 300;
    }
    .post-brief-author {
      color: #f5f5f5;
      font-size: 12.8px;
      font-weight: 300;
    }
  }
  .post-brief-excerpt {
    color: #f5f5f5;
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.post-brief-header {
  align-self: stretch;
  .post-brief-link {
    margin-top: 5px;
  }
}
@media only screen and (max-width: 540px) {
  .post-brief-excerpt {
    -webkit-line-clamp: 3;
  }
}
