.tag-brief {
  display: inline-block;
  vertical-align: top;
  position: relative; // Gets on top of responsive thereby making nav links invisible.
  border-radius: 50%;
  height: 120px;
  box-shadow: 0px 0px 12px -5px #000;
}
.tag-brief:hover {
  transition: 0.1s ease-in;
  transform: scale(1.05);
}
.tag-brief:not(:hover) > a {
  transition: 0.1s ease-in;
  writing-mode: vertical-lr;
  transform: rotate(225deg);
  padding: 0px;
}
.tag-brief:hover > a {
  transition: 0.1s ease-in;
  writing-mode: vertical-lr;
  transform: rotate(270deg);
  padding: 0px;
}
.tag-brief:active {
  transition: 0.1s ease-in;
  transform: scale(0.95);
}
.ratio--width-to-height {
  height: 100%;
  width: auto;
}
.tag-brief a {
  color: #f5f5f5;
  background-color: transparent;
  box-shadow: none;
  writing-mode: vertical-lr;
  transform: rotate(225deg);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tag-brief a:hover {
  color: #f5f5f5;
}
