.tag-brief {
  position: relative;
  color: white;
  background-color: #121212;
  text-decoration: none;
}
.tag-brief-title {
  padding: 10px;
}
.tag-brief-size {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translate(-15px, -50%);
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: black;
  box-shadow: 0px 0px 5px -2px black;
}
