<div class="card card-long w-100 h-100 border-0" style="background: linear-gradient(to right, #003973, #e5e5be)">
    <div class="card-body d-flex flex-column text-light">
        {{post.tag}}
        <div class="card-tags mb-1">
            {% assign category = post.category %}
            {% include base/badge-tag.html text=category %}
        </div>
        <div class="card-title h3 my-1">
            <b>{{ post.title }}</b>
        </div>
        <div class="card-content-preview p flex-grow-1 my-1">
            <span>
                {{ post.excerpt }}
            </span>
        </div>
        <div class="mt-1">
            {% assign href = post.url | relative_url %}
            {% include base/anchor.html href=href showText=true text='Read' showIcon=true icon='fa fa-arrow-right' %}
        </div>
    </div>
</div>