<div class="container d-flex flex-row justify-content-center w-100 px-1 py-3 pt-2">
    {%- if post.url != page.previous.url -%}
        <div>
            <a class="card-btn d-flex flex-row justify-content-center" href="{{ page.previous.url | relative_url }}">
                <div>
                    <i aria-hidden="true" class="fa fa-arrow-left"></i>
                </div>
            </a>
        </div>
    {%- else -%}
        <div>
            <button class="card-btn d-flex flex-row justify-content-center" onclick="redirectToRandomBlog();">
                <div>
                    <i aria-hidden="true" class="fa fa-arrow-left"></i>
                </div>
            </button>
        </div>
    {%- endif -%}
    <div>
        <button class="card-btn d-flex flex-row justify-content-center mx-4" onclick="redirectToRandomBlog();">
            <div>
                <i aria-hidden="true" class="fa fa-random"></i>
            </div>
        </button>
    </div>
    {%- if post.url != page.next.url -%}
        <div>
            <a class="card-btn d-flex flex-row justify-content-center" href="{{ page.next.url | relative_url }}">
                <div>
                    <i aria-hidden="true" class="fa fa-arrow-right"></i>
                </div>
            </a>
        </div>
    {%- else -%}
        <div>
            <button class="card-btn d-flex flex-row justify-content-center" onclick="redirectToRandomBlog();">
                <div>
                    <i aria-hidden="true" class="fa fa-arrow-right"></i>
                </div>
            </button>
        </div>
    {%- endif -%}
</div>