<div class="post-brief">
    <div class="post-brief-category">
        {% assign category = include.post.category %}
        {% include base/badge-category.html text=category %}
    </div>
    <div class="post-brief-content">
        <div class="post-brief-title">
            {{ include.post.title }}
        </div>
        <div class="post-brief-excerpt">
            {{ include.post.content | strip_html | truncatewords: 25 }}
        </div>
    </div>
    <div class="post-brief-link">
        {% assign href = include.post.url | relative_url %}
        {% include base/anchor.html href=href showText=true text='Read' showIcon=true icon='fa fa-arrow-right' %}
    </div>
</div>