html {
  --color-white: #ffffff;
  --color-offwhite: #f5f5f5;
  --color-black: #000000;
  --color-offblack: #121212;
  --color-darkblue: #0055ff;
  --color-lightblue: #009aff;
  --color-skyblue: #00c6ff;
  --font-weight_400: 400;
  --font-weight_bold: bold;
}
html[data-theme="light"] {
  --color-light_0055ff-dark_009aff: var(--color-darkblue);
  --color-light_f5f5f5-dark_121212: var(--color-offwhite);
  --color-light_ffffff-dark_000000: var(--color-white);
  --color-light_ffffff-dark_000000-reverse: var(--color-black);
  --color-light_f5f5f5-dark_121212-reverse: var(--color-offblack);
  --color-light_0055ff-dark_009aff-gradient: linear-gradient(
    to bottom right,
    #0072ff,
    #00c6ff
  );
  --font-weight: bold;
  --font-weight-hover: 500;
}
html[data-theme="dark"] {
  --color-light_0055ff-dark_009aff: var(--color-lightblue);
  --color-light_f5f5f5-dark_121212: var(--color-offblack);
  --color-light_ffffff-dark_000000: var(--color-black);
  --color-light_ffffff-dark_000000-reverse: var(--color-white);
  --color-light_f5f5f5-dark_121212-reverse: var(--color-offwhite);
  --color-light_0055ff-dark_009aff-gradient: linear-gradient(
    to bottom right,
    #0072ff,
    #00c6ff
  );
  --font-weight: bold;
  --font-weight-hover: 500;
}
* {
  // font-family: "Poppins", sans-serif;
  font-family: 'Lora', serif;
  line-height: 1.6;
  letter-spacing: 0;
  word-spacing: 1px;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box !important;
}
::-webkit-scrollbar {
  height: 10px !important;
  width: 10px !important;
}
::-webkit-scrollbar-track {
  background-color: transparent !important;
}
::-webkit-scrollbar-thumb {
  background-color: lightgrey !important;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: gray !important;
}
html,
body {
  margin: 0;
  padding: 0px;
  background-color: var(--color-light_f5f5f5-dark_121212) !important;
  color: var(--color-light_f5f5f5-dark_121212-reverse) !important;
  scroll-behavior: smooth !important;
  font-weight: var(--font-weight) !important;
}
a {
  text-decoration: none;
}

// Import partials.
@import "includes/base/anchor.scss";
@import "includes/base/badge-category.scss";
@import "includes/base/badge-tag.scss";
@import "includes/base/button.scss";
@import "includes/containers/body.scss";
@import "includes/containers/head.scss";
@import "includes/core/archive-post.scss";
@import "includes/core/card.scss";
@import "includes/core/category-brief.scss";
@import "includes/core/next-prev-post.scss";
@import "includes/core/pagination.scss";
@import "includes/core/post-brief.scss";
@import "includes/core/tag-brief.scss";
@import "includes/navigation/footer.scss";
@import "includes/navigation/header.scss";
@import "includes/navigation/sidebar.scss";
@import "includes/others/analytics.scss";
@import "layouts/archives/archive.scss";
@import "layouts/category.scss";
@import "layouts/default.scss";
@import "layouts/home.scss";
@import "layouts/post.scss";
@import "layouts/search.scss";
@import "layouts/tag.scss";
