html {
  --color_f5f5f5: #f5f5f5;
  --color_121212: #121212;
  --font-weight_400: 400;
  --font-weight_bold: bold;
}
html[data-theme="light"] {
  --color-light_0055ff-dark_009aff: #0055ff;
  --color-light_f5f5f5-dark_121212: #f5f5f5;
  --color-light_ffffff-dark_000000: #ffffff;
  --color-light_f5f5f5-dark_121212-reverse: #121212;
  --color-light_0055ff-dark_009aff-gradient: linear-gradient(
    to bottom right,
    #0072ff,
    #00c6ff
  );
  --font-weight: bold;
  --font-weight-hover: 500;
}
html[data-theme="dark"] {
  --color-light_0055ff-dark_009aff: #009aff;
  --color-light_f5f5f5-dark_121212: #121212;
  --color-light_ffffff-dark_000000: #000000;
  --color-light_f5f5f5-dark_121212-reverse: #f5f5f5;
  --color-light_0055ff-dark_009aff-gradient: linear-gradient(
    to bottom right,
    #0072ff,
    #00c6ff
  );
  --font-weight: bold;
  --font-weight-hover: 500;
}
* {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  letter-spacing: 0;
  word-spacing: 1px;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box !important;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--color-light_f5f5f5-dark_121212) !important;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-light_0055ff-dark_009aff);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-light_0055ff-dark_009aff);
}
html,
body {
  margin: 0;
  background-color: var(--color-light_f5f5f5-dark_121212) !important;
  color: var(--color-light_f5f5f5-dark_121212-reverse) !important;
  scroll-behavior: smooth !important;
  font-weight: var(--font-weight) !important;
}
a {
  text-decoration: none;
}

// Import partials.
@import "includes/base/anchor.scss";
@import "includes/base/badge-category.scss";
@import "includes/base/badge-tag.scss";
@import "includes/base/button.scss";
@import "includes/containers/body.scss";
@import "includes/containers/head.scss";
@import "includes/core/card.scss";
@import "includes/core/category-brief.scss";
@import "includes/core/next-prev-post.scss";
@import "includes/core/pagination.scss";
@import "includes/core/post-brief.scss";
@import "includes/core/tag-brief.scss";
@import "includes/navigation/footer.scss";
@import "includes/navigation/header.scss";
@import "includes/others/analytics.scss";
@import "layouts/archives/archive.scss";
@import "layouts/category.scss";
@import "layouts/default.scss";
@import "layouts/home.scss";
@import "layouts/post.scss";
@import "layouts/tag.scss";
