---
layout: default
---

<div class="archive">
    <div class="archive-title">
        {% assign words = page.title | split: '-' %}
        {% capture titlecase %}
            {% for word in words %}
                {{ word | capitalize }}
            {% endfor %}
        {% endcapture %}
        {{ titlecase }}
    </div>
    {% include core/archive-post.html archive_posts=archive_posts %}
</div>
<script>
    let post_brief = document.getElementsByClassName("post-brief");
    let startIndex = Math.floor(Math.random() * 100);
    for (let i = 0; i < post_brief.length; i++) {
        setTimeout(() => {
            post_brief[i].style.backgroundColor = getRandomDarkColorPredefined(i + startIndex);
        }, 100 * i);
    }
</script>