---
layout: default
---
<div class="container">
    <h1>Archive of posts with {{ page.type }}         
        {% assign words = page.title | split: '-' %}
        {% capture titlecase %}
            {% for word in words %}
                {{ word | capitalize }}
            {% endfor %}
        {% endcapture %}
        <b>{{ titlecase }}</b></h1>
    {% for post in page.posts %}
        <div class="row">
            <div class="col-lg-12" style="margin: 12px 0px">
                {% include core/card.html post=post%}
            </div>
        </div>
    {% endfor %}
</div>