.header {
  background-color: var(--color-light_f5f5f5-dark_121212);
  box-shadow: 0px 0px 10px -3px #000;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  column-gap: 0.5rem;
  height: 60px;
  width: calc(100vw);
  padding-left: 1rem;
  padding-right: 1rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
}
.header-container {
  background-color: var(--color-light_f5f5f5-dark_121212);
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  column-gap: 0.5rem;
  height: 60px;
  width: calc(100vw - 2rem);
  max-width: 720px;
  left: 50%;
  transform: translate(-50%);
}
.header-toggler {
  display: none;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.header-toggler-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-light_f5f5f5-dark_121212-reverse);
}
.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  column-gap: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.header-logo a {
  color: var(--color-light_f5f5f5-dark_121212-reverse);
}
.header-logo a:hover {
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  text-decoration: none !important;
}
.header-nav {
  align-content: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.header-nav-link-item {
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  text-decoration: none !important;
}
.header-nav-link-item.current {
  color: var(--color-light_0055ff-dark_009aff);
}
.header-nav-link-item:hover {
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  text-decoration: none !important;
}
.header-theme-changer > #header-theme-changer-btn {
  width: 40px;
  font-size: 18px;
  border: none !important;
  background-color: transparent !important;
  transition: 0.1s;
}
.header-theme-changer > #header-theme-changer-btn:hover {
  cursor: pointer;
}
.header-theme-changer > #header-theme-changer-btn:hover:focus {
  outline: none;
  background-color: transparent !important;
}
.header-theme-changer > #header-theme-changer-btn:hover:active {
  outline: none;
  background-color: transparent !important;
  transform: scale(0.85);
}
.spacing {
  width: calc(100vw - 2rem);
  height: 60px;
  background-color: transparent;
}
@media only screen and (max-width: 420px) {
  .header-nav {
    position: fixed;
    left: -150%;
    top: 60px;
    flex-direction: column;
    background-color: var(--color-light_f5f5f5-dark_121212);
    width: 100vw !important;
    text-align: left;
    transition: 0.3s;
    box-shadow: 0 27px 27px rgba(0, 0, 0, 0.05);
    z-index: 1;
    row-gap: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: flex-start;
  }
  .header-nav.active {
    left: -1rem;
  }
  .header-toggler {
    display: block;
    cursor: pointer;
  }
  .header-toggler.active .header-toggler-bar:nth-child(2) {
    opacity: 0;
  }
  .header-toggler.active .header-toggler-bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .header-toggler.active .header-toggler-bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
}
