/* Header */
.header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light_f5f5f5-dark_121212);
  box-shadow: 0px 0px 5px -2px var(--color-light_f5f5f5-dark_121212-reverse);
  height: 60px;
}
.header {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-light_f5f5f5-dark_121212);
  height: 60px;
  padding: 0px 10px;
  width: 100%;
  max-width: 700px;
  z-index: 2;
}
.header-toggler {
  display: none;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border: none;
  background-color: transparent;
}
.header-toggler-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--color-light_f5f5f5-dark_121212-reverse);
}
.header-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  column-gap: 0.25rem;
}
.header-logo a {
  color: var(--color-light_f5f5f5-dark_121212-reverse);
}
.header-logo a:hover {
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  text-decoration: none !important;
}
.header-nav {
  align-content: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.header-nav-link {
  width: 100%;
}
.header-nav-link-item {
  width: 100% !important;
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  text-decoration: none !important;
}
.header-nav-link-item.current {
  width: 100% !important;
  color: var(--color-light_0055ff-dark_009aff);
}
.header-nav-link-item:hover {
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  text-decoration: none !important;
}
.header-misc {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
.header-search-container {
  align-self: center;
  width: 40px;
  text-align: center;
}
.header-search-btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  transition: 0.1s;
  font-size: 18px;
  &:focus,
  &:active {
    border: none;
    outline: none;
  }
  &:hover {
    &:focus {
      font-size: 97%;
    }
  }
}
.header-theme-changer > #header-theme-changer-btn {
  width: 40px;
  font-size: 18px;
  border: none !important;
  background-color: transparent !important;
  transition: 0.1s;
}
.header-theme-changer > #header-theme-changer-btn:hover {
  cursor: pointer;
}
.header-theme-changer > #header-theme-changer-btn:hover:focus {
  outline: none;
  background-color: transparent !important;
}
.header-theme-changer > #header-theme-changer-btn:hover:active {
  outline: none;
  background-color: transparent !important;
  transform: scale(0.85);
}
@media only screen and (max-width: 480px) {
  .header-toggler {
    display: block;
    cursor: pointer;
  }
  .header-toggler.active .header-toggler-bar:nth-child(2) {
    opacity: 0;
  }
  .header-toggler.active .header-toggler-bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
  }
  .header-toggler.active .header-toggler-bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
  }
  .header-nav {
    display: none;
  }
}
