/* Sidebar */
#sidebar-container {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 60px);
  background-color: rgba(0, 0, 0, 0);
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 1;
}
#sidebar-container.show {
  transform: translateX(0%);
}
#sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  justify-content: space-between;
  height: calc(100vh - 60px);
  background-color: var(--color-light_f5f5f5-dark_121212);
  backdrop-filter: blur(10px);
  width: fit-content;
  min-width: 60vw;
  height: 100%;
  margin: 0px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 20px -9px #121212;
}
.sidebar-sidebar {
  height: 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
}
.sidebar-nav-link {
  width: 100%;
}
.sidebar-nav-link-item.current:hover {
  color: var(--color-light_0055ff-dark_009aff);
  background: var(--color-light_f5f5f5-dark_121212-reverse);
}
.sidebar-nav-link-item:hover {
  color: var(--color-light_f5f5f5-dark_121212);
  background: var(--color-light_f5f5f5-dark_121212-reverse);
}
.sidebar-nav-link-item.current {
  color: var(--color-light_0055ff-dark_009aff);
}
.sidebar-nav-link-item {
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  display: block;
  width: 100%;
  padding: 1rem;
}
.sidebar-footer {
  display: flex;
  flex-direction: column;
}
.sidebar-footer-link {
  display: block;
  flex-direction: row;
  column-gap: 0.5rem;
  padding: 1rem;
  text-decoration: none;
  color: var(--color-light_f5f5f5-dark_121212-reverse);
}
.sidebar-footer-link:hover {
  color: var(--color-light_f5f5f5-dark_121212);
  background: var(--color-light_f5f5f5-dark_121212-reverse);
}
@media only screen and (min-width: 481px) {
  #sidebar-container {
    display: none;
  }
  #sidebar {
    display: none;
  }
}
