{% if paginator.total_pages > 1 %}
    <div class="paginator">
        {% if paginator.previous_page %}
            <div class="paginator-prev">
                {% assign href = paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | remove: "index.html" %}
                {% include components/base/anchor.html href=href showText=false showIcon=true icon='fa fa-chevron-left' %}
            </div>
        {% endif %}
        {% if paginator.page_trail %}
            {% for trail in paginator.page_trail %}
                <div {% if page.url == trail.path %} class="paginator-middle selected" {% else %} class="paginator-middle" {% endif %}>
                    {% assign href = trail.path | prepend: site.baseurl | replace: '//', '/' | remove: "index.html" %}
                    {% assign num = trail.num %}
                    {% include components/base/anchor.html href=href showText=true text=num showIcon=false %}
                </div>
            {% endfor %}
        {% endif %}
        {% if paginator.next_page %}
            <div class="paginator-next">
                {% assign href = paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | remove: "index.html" %}
                {% include components/base/anchor.html href=href showText=false showIcon=true icon='fa fa-chevron-right' %}
            </div>
        {% endif %}
    </div>
{% endif %}