.home {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 2rem 1.5rem;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  .home {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 2rem 1rem;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
  }
}
