.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  row-gap: 1.5rem;
  padding: 1.5rem 0.5rem;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.post-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  align-content: center;
  row-gap: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
.post-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}
.post-tags .badge-tag {
  color: var(--color-light_f5f5f5-dark_121212);
  background-color: var(--color-light_f5f5f5-dark_121212-reverse);
}
.post-divider {
  width: 100%;
  height: 1px;
  border-bottom: 2px solid #121212;
}
.post-content {
  width: 100% !important;
}
.post-content img {
  max-width: 100% !important;
  border-radius: 3px !important;
  box-shadow: 0px 0px 20px -9px #121212 !important;
}
.post-content pre {
  overflow-x: auto !important;
}
.post-content code * {
  font-family: monospace !important;
}
.post-content figure {
  all: unset !important;
  width: 100% !important;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}
.post-content figure > pre {
  padding: 0px !important;
}
.post-content .highlight .lineno {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  color: #121212;
}
