.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  row-gap: 1.5rem;
  width: 100%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
.post-header {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  padding: 50px 0px 50px 0px;
  background: linear-gradient(to right, #16222a, #3a6073);
}
@media only screen and (max-width: 1000px) {
  .post-header {
    padding: 5vh 0px 5vh 0px;
  }
}
.post-header-container {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  max-width: 1000px;
  padding: 0px 15px 0px 15px;
  row-gap: 1rem;
  width: 100%;
}
.post-body {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  justify-content: center;
  max-width: 1000px;
  padding: 0px 15px 15px 15px;
  row-gap: 0.25rem;
  width: 100%;
}
.post-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}
.post-title {
  font-size: 28px;
  color: #ffffff;
}
.post-date {
  color: #f5f5f5 !important;
  font-weight: 400;
  font-size: 16px;
}
.post-author {
  color: #f5f5f5 !important;
  font-weight: 400;
  font-size: 16px;
}
.post-divider {
  width: 100%;
  max-width: 1000px;
  height: 0.5px;
  padding: 0px 15px 0px 15px;
  border-top: 1.5px dashed #121212;
}
.post-content {
  width: 100% !important;
}
.post-content a {
  text-decoration: none;
  color: var(--color-light_0055ff-dark_009aff);
  transition: all 0.2s ease;
}
.post-content a:hover {
  text-decoration: underline !important;
  text-decoration-style: wavy !important;
  text-underline-offset: 2px;
}
.post-content img {
  max-width: 100% !important;
  border-radius: 3px !important;
  box-shadow: 0px 0px 5px -2px #121212 !important;
}
.post-content pre {
  overflow-x: auto !important;
}
.post-content code * {
  font-family: monospace !important;
  font-size: 14px !important;
}
.post-content figure {
  all: unset !important;
  width: 100% !important;
  margin-block-start: 0px !important;
  margin-block-end: 0px !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}
.post-content figure > pre {
  padding: 0.5rem !important;
}
.post-content .highlight .lineno {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
  color: #121212;
}

// Custom Classes & Ids
.image-carousel {
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  column-gap: 1rem;
  padding-bottom: 10px;
}
.image-center {
  text-align: center;
}
