.search {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  max-width: 1000px;
  padding: 28px 10px 16px;
  margin: 0px auto;
}
#search-form {
  align-self: center;
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  box-shadow: inset 0px 0px 5px -2px var(--color-light_ffffff-dark_000000-reverse);
  border-radius: 100px;
  transition: 0.1s linear;
  padding: 8px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  column-gap: 1rem;
  &::placeholder {
    color: var(--color-light_f5f5f5-dark_121212-reverse);
  }
  &:focus-within {
    box-shadow: inset 0px 0px 5px var(--color-light_0055ff-dark_009aff);
    #search-btn {
      color: var(--color-light_0055ff-dark_009aff);
    }
  }
  #search-input {
    color: var(--color-light_f5f5f5-dark_121212-reverse);
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
  #search-btn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--color-light_f5f5f5-dark_121212-reverse);
    &:focus,
    &:active {
      border: none;
      outline: none;
    }
  }
}
#search-results {
  li {
    padding: 10px 5px;
    & > a {
      color: var(--color-light_f5f5f5-dark_121212-reverse);
      &:hover {
        color: var(--color-light_0055ff-dark_009aff);
        text-decoration: underline !important;
        text-decoration-style: wavy !important;
        text-underline-offset: 5px;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .search {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 2rem 1rem;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}
