.tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  row-gap: 1.5rem;
  column-gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
