.tag {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
  padding: 1rem;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
