---
layout: default
---

{%- if site.categories.size > 0 -%}
    <section class="category container">
        {% for category in site.categories %}
            {% assign words = category[0] | split: '-' %}
            {% capture category_title %}
                {% for word in words %}
                    {{ word | capitalize }}
                {% endfor %}
            {% endcapture %}
            {% assign category_link = '/category/' | relative_url | append: category[0] %}
            {% include components/core/category-brief.html category_title=category_title category_link=category_link %}
        {% endfor %}
    </section>
{% endif %}