---
layout: default
---

{%- if site.categories.size > 0 -%}
    <section class="category">
        {% for category in site.categories %}
            {% assign words = category[0] | split: '-' %}
            {% capture category_title %}
                {% for word in words %}
                    {{ word | capitalize }}
                {% endfor %}
            {% endcapture %}
            {% assign category_link = '/category/' | relative_url | append: category[0] %}
            {% assign category_size = category[1].size %}
            {% include core/category-brief.html category_title=category_title category_link=category_link category_size=category_size %}
        {% endfor %}
    </section>
{% endif %}
<script>
    let category_brief = document.getElementsByClassName("category-brief");
    let startIndex = Math.floor(Math.random() * 100);
    for (let i = 0; i < category_brief.length; i++) {
        setTimeout(() => {
            category_brief[i].style.backgroundColor = getRandomDarkColorPredefined(i + startIndex);
        }, 10 * i);
    }
</script>