---
layout: default
---

{%- if site.categories.size > 0 -%}
    <div class="tag-search">
        <div id="tag-search-form">
            <input type="search" id="tag-search-input" name="q" onkeyup="javascript:filterCategory(this.value.trim());" required
            placeholder="Search category..." autofocus>
        </div>
    </div>
    <section class="category" id="category">
        {% for category in site.categories %}
            {% assign words = category[0] | split: '-' %}
            {% capture category_title %}
                {% for word in words %}
                    {{ word | capitalize }}
                {% endfor %}
            {% endcapture %}
            {% assign category_link = '/category/' | relative_url | append: category[0] %}
            {% assign category_size = category[1].size %}
            {% assign category_data = category[0] %}
            {% include core/category-brief.html category_data=category_data category_title=category_title category_link=category_link category_size=category_size %}
        {% endfor %}
    </section>
{% endif %}
<script>
    let category_brief = document.getElementsByClassName("category-brief");
    let startIndex = Math.floor(Math.random() * 100);
    for (let i = 0; i < category_brief.length; i++) {
        setTimeout(() => {
            category_brief[i].style.backgroundColor = getRandomDarkColorPredefined(i + startIndex);
        }, 10 * i);
    }

    function filterCategory(query) {
        if (query === '') {
            let children = document.querySelector('#category').children;
            for (let i = 0; i < children.length; i++) {
                children[i].style.display = 'flex';
            }
        } else if (!query.replace(/\s/g, '').length) {
            return;
        } else {
            const regex = new RegExp(query.trim(), 'gi');
            let children = document.querySelector('#category').children;
            for (let i = 0; i < children.length; i++) {
                const title = children[i].title.split('-').join(' ');
                console.log(title);
                if (title.search(regex) > -1) {
                    children[i].style.display = 'flex';
                } else {
                    children[i].style.display = 'none';
                }
            }
        }
    }
</script>