---
layout: default
---

{%- if site.posts.size > 0 -%}
    <section class="home">
        {%- for post in paginator.posts -%}
            {% include core/post-brief.html post=post %}
        {%- endfor -%}
        {% include core/paginator.html %}
    </section>
{%- endif -%}
<script>
    let post_brief = document.getElementsByClassName("post-brief");
    let startIndex = Math.floor(Math.random() * 100);
    for (let i = 0; i < post_brief.length; i++) {
        setTimeout(() => {
            post_brief[i].style.backgroundColor = getRandomDarkColorPredefined(i + startIndex);
        }, 50 * i);
    }
</script>