---
layout: default
---

<div class="post">
    <div class="post-body">
        <div class="post-tags">
            {% for tag in page.tags %}
            {% include base/badge-tag.html text=tag %}
            {% endfor %}
        </div>
        <div class="post-title">
            {{ page.title | escape }}
        </div>
        <div class="post-date">
            posted on
            <b>
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    {{ page.date | date: date_format }}
                </time>
            </b>
        </div>
        <div class="post-author">
            by <b>{{ page.author }}</b>
        </div>
        <!-- <div class="post-divider"></div> -->
        <div class="post-content">
            {{ content }}
        </div>
    </div>
    {%- include core/next-prev-post.html -%}
</div>