---
layout: default
---
{%- if site.tags.size > 0 -%}
    <div class="tag-search">
        <div id="tag-search-form">
            <input type="search" id="tag-search-input" name="q" onkeyup="javascript:filterTag(this.value.trim());" required
                placeholder="Search tags..." autofocus>
        </div>
    </div>
    <section class="tag" id="tag">
        {% for tag in site.tags %}
            {% assign words = tag[0] | split: '-' %}
            {% capture tag_title %}
                {% for word in words %}
                    {{ word }}
                {% endfor %}
            {% endcapture %}
            {% assign tag_link = '/tag/' | relative_url | append: tag[0] %}
            {% assign tag_size = tag[1].size %}
            {% assign tag_data = tag[0] %}
            {% include core/tag-brief.html tag_data=tag_data tag_title=tag_title tag_link=tag_link tag_size=tag_size %}
        {% endfor %}
    </section>
{% endif %}
<script>
    let tag_brief = document.getElementsByClassName("tag-brief");
    let startIndex = Math.floor(Math.random() * 100);
    for (let i = 0; i < tag_brief.length; i++) {
        setTimeout(() => {
            tag_brief[i].style.background = getRandomColorDark(i + startIndex);
        }, 5 * i)
    }

    function filterTag(query) {
        if (query === '') {
            let children = document.querySelector('#tag').children;
            for (let i = 0; i < children.length; i++) {
                children[i].style.display = 'block';
            }
        } else if (!query.replace(/\s/g, '').length) {
            return;
        } else {
            const regex = new RegExp(query.trim(), 'g');
            let children = document.querySelector('#tag').children;
            for (let i = 0; i < children.length; i++) {
                const title = children[i].title.split('-').join(' ');
                if (title.search(regex) > -1) {
                    children[i].style.display = 'block';
                } else {
                    children[i].style.display = 'none';
                }
            }
        }
    }
</script>