---
layout: default
---

{%- if site.tags.size > 0 -%}
    <section class="tag container">
        {% for tag in site.tags %}
            {% assign words = tag[0] | split: '-' %}
            {% capture tag_title %}
                {% for word in words %}
                    {{ word | capitalize }}
                {% endfor %}
            {% endcapture %}
            {% assign tag_link = '/tag/' | relative_url | append: tag[0] %}
            {% include core/tag-brief.html tag_title=tag_title tag_link=tag_link %}
        {% endfor %}
    </section>
{% endif %}