---
layout: default
---

{%- if site.tags.size > 0 -%}
    <section class="tag">
        {% for tag in site.tags %}
            {% assign words = tag[0] | split: '-' %}
            {% capture tag_title %}
                {% for word in words %}
                    {{ word | capitalize }}
                {% endfor %}
            {% endcapture %}
            {% assign tag_link = '/tag/' | relative_url | append: tag[0] %}
            {% assign tag_size = tag[1].size %}
            {% include core/tag-brief.html tag_title=tag_title tag_link=tag_link tag_size=tag_size %}
        {% endfor %}
    </section>
{% endif %}
<script>
    let tag_brief = document.getElementsByClassName("tag-brief");
    let startIndex = Math.floor(Math.random() * 100);
    for (let i = 0; i < tag_brief.length; i++) {
        setTimeout(() => {
            tag_brief[i].style.background = getRandomColorDark(i + startIndex);
        }, 5 * i)
    }
</script>