.anchor {
  background-color: var(--color-light_f5f5f5-dark_121212);
  border-radius: 0.2rem;
  border: none;
  box-shadow: 0px 0px 12px -5px #000;
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: space-between;
  padding: 0.25em 0.5em;
  text-decoration: none;
  width: fit-content;
  min-width: 3rem;
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.anchor:focus {
  outline: none;
  border: none;
}
.anchor:active {
  transition-duration: 0.1s;
  transition-timing-function: linear ease-in;
  transform: scale(0.95);
}
