.badge-tag {
  font-size: 0.75rem;
  padding: 0.3rem 0.6rem;
  // border-radius: 1rem;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  font-weight: normal;
}
.badge-tag:hover {
  color: darkslategray;
  border: 1px solid darkslategray;
  background-color: #f5f5f5;
  font-weight: bold;
  transition: 0.15s linear;
}
