.badge-category {
  font-size: 0.6rem;
  padding: 0.5em 0.75em;
  border-radius: 1rem;
  color: var(--color-light_f5f5f5-dark_121212);
  background-color: var(--color-light_0055ff-dark_009aff);
  box-shadow: 0px 0px 5px -2px #121212;
  font-weight: normal;
}
