.button {
  align-content: center;
  align-items: center;
  background: whitesmoke;
  border-radius: 4px;
  border: 0px;
  box-shadow: 0px 0px 5px -2px #121212;
  color: black;
  column-gap: 0.5rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: center;
  min-height: 32px;
  min-width: 40px;
  padding: 4px 6px;
  text-decoration: none;
  transition: 0.01s ease-in-out;
  width: fit-content;
}
.button:hover {
  transform: scale(1.05);
  transition: 0.15s linear;
  text-decoration: none;
}
.button:focus {
  outline: none;
  border: none;
}
.button:active {
  outline: none;
  transition-duration: 0.1s;
  transition-timing-function: linear ease-in;
  transform: scale(0.95);
}
