.archive {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 1rem 1rem 2rem 1rem;
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
}
.archive-title {
  font-size: 1.6rem;
  color: var(--color-light_f5f5f5-dark_121212-reverse);
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-thickness: 5px;
  text-decoration-color: var(--color-light_f5f5f5-dark_121212-reverse);
}
.archive-post-brief-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: stretch;
}
.archive-post-brief-container > .post-brief {
  align-self: stretch;
}
